<!-- Modal -->
<div class="modal fade in" id="myModal" style="display:block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="javascript:;" class="close">&times;</a>
                <h4 class="modal-title" id="myModalLabel">添加装备</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-xs 12">
                        <div class="steps-display row">
                            <ol class="steps">
                                <li class="active">
                                    <span class="title">上传图片</span>
                                    <span class="step">1</span>
                                </li>
                                <li>
                                    <span class="title">添加信息</span>
                                    <span class="step">2</span>
                                </li>
                                <li>
                                    <span class="title">确认</span>
                                    <span class="step">3</span>
                                </li>
                            </ol>
                        </div>
                        <div class="step-content">
                            <div class="step-pane active">
                                ...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-default">取消</a>
                <a href="javascript:;" class="btn btn-primary">添加</a>
            </div>
        </div>
    </div>
</div>