<div id="equipents">
	<!-- Nav tabs -->
	<div class="tabs-left">
		<ul class="nav nav-tabs">
			<li class="active"><a href="#home">身体</a></li>
			<li><a href="#cap">帽子</a></li>
			<li><a href="#coat">上衣</a></li>
			<li><a href="#pants">裤子</a></li>
			<li><a href="#longcoat">长袍</a></li>
			<li><a href="#ring">戒指</a></li>
			<li><a href="#shield">盾牌</a></li>
			<li><a href="#shoes">鞋子</a></li>
			<li><a href="#weapon">武器</a></li>
		</ul>

		<!-- Tab panes -->
		<div class="tab-content">
			<div class="tab-pane active" id="home">
				<ul>
					<li></li>
				</ul>
			</div>
			<div class="tab-pane" id="profile">...</div>
			<div class="tab-pane" id="messages">...</div>
			<div class="tab-pane" id="settings">...</div>
		</div>
	</div>
</div>