<div id="sidebar-nav">
    <ul id="dashboard-menu">
        <li class="active">
            <div class="pointer">
                <div class="arrow"></div>
                <div class="arrow_border"></div>
            </div>
            <a href="/admin/home">
                <span class="glyphicon glyphicon-home"></span>
                <span>首页</span>
            </a>
        </li>            
        <li>
            <a href="/admin/resources">
                <span class="glyphicon glyphicon-th"></span>
                <span>素材相关</span>
            </a>
        </li>
    </ul>
</div>