<%- include header %>

<div class="login-wrapper">
    <div class="box">
        <div class="content-wrap">
            <h6>登 录</h6>
            <form action="/admin/signin" id="login-form" method="post">
                <input class="form-control" name="username" type="text" placeholder="用户名" autofocus="autofocus">
                <input class="form-control" name="password" type="password" placeholder="密码">
                <div class="remember">
                    <input id="remember-me" name="remember" type="checkbox">
                    <label for="remember-me">记住登录</label>
                </div>
                <input type="submit" class="btn-glow primary login" id="js-login" value="登录">
            </form>
        </div>
    </div>
</div>

<%- include footer %>